.system {
    -fx-background-color: rgb(0,0,64);
}

.planet {
    -fx-fill: blue;
    -fx-stroke: black;
    -fx-stroke-width: 0.2;
}

.orbit {
    -fx-fill: none;
    -fx-stroke: rgb(0,255,0);
    -fx-stroke-width: 0.8;
}

.planet-name {
    -fx-fill: rgb(0,255,0);
}
